/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************
  Music App
/*****************************/
html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column; /* Stack the flex-items */
	background-color: #fff;
	margin: 0;
	font-family: Lato, sans-serif;
	color: #222;
	font-size: 0.9em;
}

main {
	flex: 1 0 auto; /* fill the available space */
	display: flex; /* Flex container with Flex items: sidebar and main content section */
}

aside {
	flex: 0 0 40px; /* Do not grow or shrink, stay at a height of 40px */
	display: flex;
	flex-direction: column; /* Stacks icons vertically */
	justify-content: space-around;
	align-items: center; /* Place icons centered horizontally */
	background-color: #f2f2f2;
}

aside i.fa {
	font-size: 0.9 em; /* Icon font size */
}
footer {
	flex: 0 0 90px; /* Don't grow or shrink, stay at 90px height. */
	padding: 10px;
	color: #fff;
	background-color: rgba(61, 100, 158, .9);
}